<h1 class="centralizado">{{ title }}</h1>
<ul *ngIf='elements.length'>
    <li *ngFor='let element of elements'>
      {{element}}
    </li>
</ul>
<img src={{imageUrl}} (click)='toggleImg()'>
<img [src]='imageUrl' [style.width.px]='imageWidth' [hidden]='isImgVisible'>
<br />
<input type='text' [(ngModel)]='valorDinamico' />
<h2> {{valorDinamico | uppercase}} </h2>
<span>{{price | currency: 'BRL': 'symbol': '1.2-2'}}</span>
<br/>
<span>{{codigo | convertToSpaces:'-'}}</span>
<h3>
  Título da página pai:{{pageTitle}}
</h3>
<button type="button" (click)='onClick()'>Emitir Evento</button>
<br />
<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Código</th>
      <th>Data</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Rating</th>
      <th>Imagem</th>
    </tr>
    <tr *ngFor='let product of products'>
      <td>{{product.productId}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.productCode}}</td>
      <td>{{product.releaseDate}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.starRating}}</td>
      <td>{{product.imageUrl}}</td>
    </tr>
  </table>
</div>